<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <th:block th:each="msg : ${messages}">
        <h1 th:text="${msg}"></h1>
    </th:block>
</div>
<h1>Table Users</h1>
<table border="1" width="900" style="border-collapse:collapse;">
    <tr>
        <th>first name</th>
        <th>last name</th>
        <th>email</th>
    </tr>
    <tr>
    <tr th:each="car : ${cars}">
        <td th:utext="${car.getModel()}"></td>
        <td th:utext="${car.getSeries()}"></td>
        <td th:utext="${car.getColor()}"></td>
    </tr>
</table>
</body>
</html>